{% extends 'base.html' %}
{% load static %}
{% block title %}{{category}}{% endblock %}

{% block content %}
<main class="m-5 p-5">
    <h1 style="text-align:center;width:100%">{{category}}</h1>
    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for product in products %}
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{product.image.url}}" alt="" height="420px" width="300px">
            <div class="card-body">
                <p class="card-text">{{product.description|slice:":40"}}...</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-primary"
                            href="{{product.get_absolute_url}}">View</a>
                    </div>
                    <small class="text-muted">{{product.author}}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    </div>
    </div>
    </div>
</main>
{% endblock %}